@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* VARIABLES */

:root {
    /* Colors */
    --color-bg-primary: #686f82;
    --color-bg-secondary: #c6b2a8;

    --color-primary: #eda870;
    --color-secondary: #b7878d;
    --color-neutral: #bdbdbd;

    /* Font stacks */
    --font-stack-sans: "Inter", sans-serif;
    --font-stack-mono: "IBM Plex Mono", monospace;

    --p-width-limit: 38.445rem;

    /* Desktop sizes */
    --desktop-size-super: 11.391rem;        /* typescale h1 */
    --desktop-size-sub: 2.25rem;            /* typescale h5 */
    --desktop-size-medium: 1.5rem;          /* typescale h6 */
    --desktop-size-normal: 1rem;            /* typescale p */

    --desktop-global-margin: 11.391rem;     /* typescale h1 */

    /* Mobile sizes */
    --mobile-size-super: 3.815rem;          /* typescale h1 */
    --mobile-size-sub: 1.563rem;            /* typescale h5 */
    --mobile-size-medium: 1.25rem;          /* typescale h6 */
    --mobile-size-normal: 1rem;             /* typescale p */

    --mobile-global-margin: 1.563rem;       /* typescale h1 */
}

/* GENERAL */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--color-bg-primary);
    color: var(--color-neutral);

    font-family: var(--font-stack-sans);
}

a {
    text-decoration: underline;
    color: var(--color-neutral);
}

/* TYPOGRAPHY */

h2 {
    font-size: var(--mobile-size-sub);
    color: var(--color-primary);

    @media (min-width: 800px) {
        font-size: var(--desktop-size-sub);
    }
}

h3 {
    font-size: var(--mobile-size-medium);
    color: var(--color-secondary);

    @media (min-width: 800px) {
        font-size: var(--desktop-size-medium);
    }
}

/* TOP HEADER */

#top-header {
    /* Takes full device view height, taking browser toolbars into consideration */
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#top-header-content {
    margin: 0 var(--mobile-global-margin);

    @media (min-width: 800px) {
        margin: 0 var(--desktop-global-margin);
    }
}

#top-header-title {
    font-family: var(--font-stack-mono);
    font-weight: bold;

    font-size: var(--mobile-size-super);
    line-height: 0.875;

    color: var(--color-primary);

    padding: 0;
    margin: 0;

    @media (min-width: 800px) {
        font-size: var(--desktop-size-super);
    }
}

#top-header-subtitle {
    color: var(--color-secondary);

    font-size: var(--mobile-size-sub);
    margin: var(--mobile-size-sub) 0 0 0;

    @media (min-width: 800px) {
        font-size: var(--desktop-size-sub);
        margin: var(--desktop-size-sub) 0 0 0;

        /* Correction to optically align the subtitle with the title. */
        padding: 0 0 0 0.5rem;
    }
}

#top-header-nav ul {
    list-style-type: none;
    padding: 0;
    margin: var(--mobile-size-sub) 0 0 0;;

    @media (min-width: 800px) {
        margin: var(--desktop-size-sub) 0 0 0;

        /* Correction to optically align the nav with the title and subtitle. */
        padding: 0 0 0 0.5rem;
    }
}

/* MAIN CONTENT */

main {
    margin: 0 var(--mobile-global-margin);

    @media (min-width: 800px) {
        margin: 0 var(--desktop-global-margin);
    }
}

/* ABOUT SECTION */

#about p {
    max-width: var(--p-width-limit);
}

/* SKILLS SECTION */

#key-skills-list p {
    max-width: var(--p-width-limit);
}

#other-skills-list li {
    max-width: var(--p-width-limit);
}

/* PROJECTS SECTION */

#project-list {
    list-style-type: none;
    
    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-pill {
    box-sizing: border-box;
    
    background-color: var(--color-bg-secondary);
    padding: var(--desktop-size-normal);
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    width: 100%;

    margin: 0 0.4rem 0.4rem 0;
    
    @media (min-width: 800px) {
        width: 25%;
    }
}

.project-pill-title {
    font-size: var(--desktop-size-normal);
    font-weight: bold;
    color: var(--color-bg-primary);

    margin: 0;
    padding: 0;
}

.project-pill-description {
    color: var(--color-bg-primary);
}

.project-pill-tech-tags {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-pill-tech-tags li {
    background-color: var(--color-secondary);
    border-radius: 0.4rem;
    
    padding: 0.2rem;
    margin: 0 0.2rem 0.2rem 0;
}

/* BOTTOM CONTENT */

#bottom-content {
    background-color: var(--color-bg-secondary);
    color: var(--color-bg-primary);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0;
    margin: 3rem 0 0 0;
}