@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* variables */

:root {
    /* colors */
    --color-bg-primary: #161210;
    --color-bg-secondary: #201d1c;
    --color-bg-border: #3a3533;
    --color-bg-pill: #d4979e;

    --color-fg-primary: #bdbdbd;

    --color-primary: #eda870;
    --color-primary-shadow: #865832;
    --color-secondary: #d4979e;
    
    /* font stacks */
    --font-stack-sans:  "IBM Plex Sans", sans-serif;
    --font-stack-title: "IBM Plex Mono", monospace;

    --p-width-limit: 38.445rem;

    /* desktop sizes */
    --desktop-size-h1: 11.391rem;           /* typescale h1 */
    --desktop-size-h2: 2.25rem;             /* typescale h5 */
    --desktop-size-h3: 1.5rem;              /* typescale h6 */
    --desktop-size-p: 1rem;                 /* typescale p */

    --desktop-global-margin: 11.391rem;     /* typescale h1 */

    /* mobile sizes */
    --mobile-size-h1: 3.815rem;             /* typescale h1 */
    --mobile-size-h2: 1.563rem;             /* typescale h5 */
    --mobile-size-h3: 1.25rem;              /* typescale h6 */
    --mobile-size-p: 1rem;                  /* typescale p */

    --mobile-global-margin: 1.563rem;       /* typescale h1 */
}

/* general styles */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--color-bg-primary);
    color: var(--color-fg-primary);

    font-family: var(--font-stack-sans);
}

a {
    text-decoration: underline;
    color: var(--color-fg-primary);
}

/* typography */

h2 {
    font-size: var(--mobile-size-h2);

    @media (min-width: 800px) {
        font-size: var(--desktop-size-h2);
    }
}

h3 {
    font-size: var(--mobile-size-h3);

    @media (min-width: 800px) {
        font-size: var(--desktop-size-h3);
    }
}

/* top header */

#top-header {
    /* Takes full device view height, taking browser toolbars into consideration */
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#top-header-content {
    margin: 0 var(--mobile-global-margin);

    @media (min-width: 800px) {
        margin: 0 var(--desktop-global-margin);
    }
}

#top-header-title {
    font-size: var(--mobile-size-h1);
    line-height: 0.875;

    font-family: var(--font-stack-title);
    font-weight: bold;
    color: var(--color-primary);

    padding: 0;
    margin: 0;

    text-shadow: 
        -1px 0 var(--color-primary-shadow), 
        0 1px var(--color-primary-shadow), 
        1px 0 var(--color-primary-shadow), 
        0 -1px var(--color-primary-shadow), 
        -5px 5px var(--color-primary-shadow), 
        -4px 4px var(--color-primary-shadow), 
        -3px 3px var(--color-primary-shadow), 
        -2px 2px var(--color-primary-shadow), 
        -1px 1px var(--color-primary-shadow);

    @media (min-width: 800px) {
        font-size: var(--desktop-size-h1);
        
        text-shadow: 
            -1px 0 var(--color-primary-shadow), 
            0 1px var(--color-primary-shadow), 
            1px 0 var(--color-primary-shadow), 
            0 -1px var(--color-primary-shadow), 
            -8px 8px var(--color-primary-shadow), 
            -7px 7px var(--color-primary-shadow), 
            -6px 6px var(--color-primary-shadow), 
            -5px 5px var(--color-primary-shadow), 
            -4px 4px var(--color-primary-shadow), 
            -3px 3px var(--color-primary-shadow), 
            -2px 2px var(--color-primary-shadow), 
            -1px 1px var(--color-primary-shadow);
    }
}

#top-header-subtitle {
    color: var(--color-secondary);
    margin: 2.25rem 0 0 0;
    line-height: var(--mobile-size-h2);

    @media (min-width: 800px) {
        margin: 2.25rem 0 0 0;

        /* Correction to optically align the subtitle with the title */
        padding: 0 0 0 0.1rem;
    }
}

#top-header-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 1.563rem 0 0 0;;
    font-size: 1.2rem;

    @media (min-width: 800px) {
        margin: 2.25rem 0 0 0;

        /* Correction to optically align the nav with the title and subtitle */
        padding: 0 0 0 0.2rem;
    }
}

/* main content */

main {
    margin: 0 var(--mobile-global-margin);

    @media (min-width: 800px) {
        margin: 0 var(--desktop-global-margin);
    }
}

/* sections (general) */

main section {
    margin-bottom: 7.59375rem;;
}

main section h2 {
    color: var(--color-primary);
}

main section h3 {
    color: var(--color-secondary);
}

/* about section */

#about p {
    max-width: var(--p-width-limit);
}

/* skills section */

#key-skills-list p {
    max-width: var(--p-width-limit);
}

#other-skills-list li {
    max-width: var(--p-width-limit);
}

/* projects section */

#project-list {
    list-style-type: none;
    
    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-pill {
    box-sizing: border-box;
    
    background-color: var(--color-bg-secondary);
    padding: 1.5rem;
    border-radius: 2rem;
    border: 1px solid var(--color-bg-border);

    display: flex;
    flex-direction: column;
    width: 100%;

    margin: 0.8rem 0;
    
    @media (min-width: 800px) {
        width: 25%;
        margin: 0 1rem 1rem 0;
    }
}

.project-pill-title {
    font-size: var(--desktop-size-p);
    font-weight: bold;
    color: var(--color-fg-primary);

    margin: 0;
    padding: 0;
}

.project-pill-description {
    color: var(--color-fg-primary);
}

.project-pill-tech-tags {
    list-style-type: none;
    
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-pill-tech-tags li {
    background-color: var(--color-bg-pill);
    
    color: var(--color-bg-primary);
    font-weight: 500;
    
    border-radius: 0.6rem;
    
    padding: 0.2rem 0.5rem;
    margin: 0 0.3rem 0.3rem 0;
}

/* BOTTOM CONTENT */

#bottom-content {
    background-color: var(--color-bg-secondary);
    color: var(--color-fg-primary);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    margin: 3rem 0 0 0;
}
